[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pillow = "*"
dlib = "*"
face_recognition  = "*"
pandas = "*"
ipykernel = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
